name: Build valkey
on:
  workflow_dispatch:
permissions:
  contents: write
jobs:
  make_slackware_package:
    uses: bobbintb/Slackware_Packages/.github/workflows/workflow-template.yml@main
    secrets: inherit
    with:
      VERSION: "9.0.0"
      NAME: "valkey"
      SBOPKG: true
      PACKAGES: "make guile gc gcc kernel-headers binutils pkgconf"
